
## RP2040-Toolhead
[mcu badge]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_3033333136153B76-if00 OLD
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6613852837F6928-if00

restart_method: command


[neopixel bgl]
pin: badge:gpio18
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 12
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[gcode_button my_gcode_button]
pin: !badge:gpio21
#   The pin on which the button is connected. This parameter must be
#   provided.
#analog_range:
#   Two comma separated resistances (in Ohms) specifying the minimum
#   and maximum resistance range for the button. If analog_range is
#   provided then the pin must be an analog capable pin. The default
#   is to use digital gpio for the button.
#analog_pullup_resistor:
#   The pullup resistance (in Ohms) when analog_range is specified.
#   The default is 4700 ohms.
press_gcode:
 SET_LED LED=bgl RED=1 GREEN=0 BLUE=0
#   A list of G-Code commands to execute when the button is pressed.
#   G-Code templates are supported. This parameter must be provided.
#release_gcode:
#   A list of G-Code commands to execute when the button is released.
#   G-Code templates are supported. The default is to not run any
#   commands on a button release.

[output_pin ledPinsbage]
pin: badge:gpio15
#   The pin to configure as an output. This parameter must be
#   provided.
#pwm: False
#   Set if the output pin should be capable of pulse-width-modulation.
#   If this is true, the value fields should be between 0 and 1; if it
#   is false the value fields should be either 0 or 1. The default is
#   False.
static_value: 1
#   If this is set, then the pin is assigned to this value at startup
#   and the pin can not be changed during runtime. A static pin uses
#   slightly less ram in the micro-controller. The default is to use
#   runtime configuration of pins.
#value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).