####################
#### HOMING.CFG ####
####################

[gcode_macro HOME]
gcode:
   DISPLAYTEXT TEXT="Homing"
   G28
   DISPLAYTEXT TEXT="Honey, Im Home!"

# Conditional G28
[gcode_macro CHOME]
gcode:
   STATUS_HOMING
  {% if printer.toolhead.homed_axes != "xyz" %}
    HOME
  {% endif %}

[gcode_macro GET_HOMED_AXES]
gcode:
    { action_respond_info('homed axes: %s' % printer.toolhead.get('homed_axes').__repr__()) }

[homing_override]
axes: xyz
set_position_x: 5
set_position_y: 5
set_position_z: 5
gcode: 

 # Move away from the bed to ensure we don't scratch it.
    RELATIVE_COORDINATES  ; Relative mode.
    MOVE_AWAY_BEFORE_HOMING
    WAIT TIME=2 # Wait 2 seconds
    

  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}



[gcode_macro _HOME_X]
gcode:
    # Set current for sensorless homing
    DISPLAYTEXT TEXT="Homing X Axis"
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set MAH = printer["gcode_macro MACROS_VARS"].move_away_home|default(0)%}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    # Home
    G28 X
    # Move away
    RELATIVE_COORDINATES
    G1 X-{MAH} F1200
    
    # wait just a second… (give StallGuard registers time to clear)
    WAIT TIME=1
    # Set current for printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    DISPLAYTEXT TEXT="Homing Y Axis"
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set MAH = printer["gcode_macro MACROS_VARS"].move_away_home|default(0)%}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    # Home
    G28 Y
    # Move away
    RELATIVE_COORDINATES
    G1 Y-{MAH} F1200
    
    # wait just a second… (give StallGuard registers time to clear)
    WAIT TIME=1
    # Set current for printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
    {% set th = printer.toolhead %}
    {% set RUN_CURRENT_Z = printer.configfile.settings['tmc2209 stepper_z'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    DISPLAYTEXT TEXT="Homing Z Axis"
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={HOME_CURRENT}
    ABSOLUTE_COORDINATES
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} F3600  ; move to the center of bed
    G28 Z
    G1 Z30
    # Set current for printing
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={RUN_CURRENT_Z}

[gcode_macro MOVE_AWAY_BEFORE_HOMING]
gcode:
     {% set MAH = printer["gcode_macro MACROS_VARS"].move_away_home|default(0)%}
     G1 Z{MAH}
    # Move left and forward to ensure the toolhead is not at the end of its travel in X or Y.
     G1 X-{MAH/2} Y-{MAH/2} F1500