###########################
##### PRINTER MACROS  #####
###########################
[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    HOME
    QUAD_GANTRY_LEVEL


[gcode_macro TAP]
gcode:
  STATUS_OFF
  FLICKER
  HOME
   
[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set BED = params.BED_TEMP|int %}
    {% set EXTRUDER = params.EXTRUDER_TEMP|int %}
    {% set ENCLOSURE = params.ENCLOSURE_TEMP|int %}
    {% set MATERIAL = params.MATERIAL|default("XXX")|string %}
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %} # Get bounding box of the first layer
    {% set FANSPD = printer["gcode_macro MACROS_VARS"].circ_fan_speed|default(0)%}
    {% set PROBETMP = printer["gcode_macro MACROS_VARS"].probe_temp|default(0)%}

    STATUS_HEATING
    SET_TEMP HEATER="bed" TEMP={BED} ; set final bed temp
    SET_TEMP HEATER="extruder" TEMP={PROBETMP} WAIT=1 ; set hotend to 150 for heatsoak
    HOME
    PARK
    SET_FAN SPEED={FANSPD} ;Turn fan on full blast to help circulate the air
    SET_TEMP HEATER="bed" TEMP={BED} WAIT=1 ;wait final bed temp
    MATERIAL_PA MATERIAL={MATERIAL}
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={ENCLOSURE}
    SET_FAN
    QUAD_GANTRY_LEVEL
    HOME
    COMPUTE_MESH_PARAMETERS SIZE={FL_SIZE}
    CLEAN_NOZZLE
    ADAPTIVE_BED_MESH
    SET_TEMP HEATER="extruder" TEMP={EXTRUDER} WAIT=1 ;wait final extruder temp
    RESET_EXTRUDER        
    PURGE
    TOGGLE_COUNTER
    STATUS_READY
    DISPLAYTEXT TEXT="Printing..."
 
[gcode_macro PRINT_END]
gcode:
    TOGGLE_COUNTER
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    CLEAR_BUFFER                           ; wait for buffer to clear
    RESET_EXTRUDER                         ; zero the extruder
    ENDING_RETRACTION                ; retract filament
    TURN_OFF_HEATERS
    ABSOLUTE_COORDINATES                                      ; absolute positioning
    PARK_AT_PRINT_END
    SET_FAN                                
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    DISPLAYTEXT TEXT="Print finished!"
    STATUS_OFF

 
     
#################################
######### HOUR COUNTER ##########
#################################

[gcode_macro TOGGLE_COUNTER]
gcode:
  SET_PIN PIN=hourCounter VALUE={(not printer['output_pin hourCounter'].value)|int}
   
[gcode_macro COUNTER_OFF]
gcode: 
    Set_pin pin=hourCounter value=0

[gcode_macro COUNTER_ON]
gcode: 
    Set_pin pin=hourCounter value=1

##############################
######### NEVERMORE ##########
##############################
#[gcode_macro Nevermore_on]
#gcode:
#    Set_pin pin=nevermore value=.75

#[gcode_macro Nevermore_off]
#gcode:
  #  Set_pin pin=nevermore value=0

###################################
######### CONTROLLER FAN ##########
###################################

#[gcode_macro TOGGLE_CONTROLLER_FAN]
#gcode:
 # SET_PIN PIN=contro VALUE={(not printer['output_pin hourCounter'].value)|int}
  #SET_FAN_SPEED FAN=controller_fan SPEED={(not printer['fan_generic controller_fan'].value)|int}
 # M117 {(not printer['fan_generic controller_fan'].value)|int}
# [gcode_macro CTRLFAN_ON]
# gcode:    
#    {% set FANSPD = printer["gcode_macro MACROS_VARS"].controllerFanSpeed|float%}
#    Set_pin pin=controller_fan value={FANSPD}

# [gcode_macro CTRLFAN_OFF]
# gcode:
#     Set_pin pin=controller_fan value=0

