[include ConfigFiles/includes.cfg]
[exclude_object]

[idle_timeout]
gcode:
 WLED_OFF
 M84
 TURN_OFF_HEATERS
timeout: 600

[respond]
default_type: echo

[gcode_macro TEST_EXTRUDER]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_EXTRUDER
    
    {% for i in range(iterations) %}
        G1 E10 F1500
        G1 E-10 F1500
    #    STEPPER_BUZZ STEPPER=extruder
    {% endfor %}

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_EXTRUDER



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 4.020
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.073
#*# pid_ki = 1.362
#*# pid_kd = 47.417
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.296
#*# pid_ki = 3.080
#*# pid_kd = 389.792
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 82.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 64.4
#*#
#*# [beacon model default]
#*# model_coef = 1.5081620673006932,
#*# 	  1.8684804410912272,
#*# 	  0.8519226695245713,
#*# 	  0.530590522394738,
#*# 	  0.33609563218908817,
#*# 	  -0.162969543127919,
#*# 	  -0.39381834256014414,
#*# 	  0.10742777833163007,
#*# 	  0.29799613719824497,
#*# 	  0.05843934267775621
#*# model_domain = 1.835916254264732e-07,1.9366507255903743e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 13.104624
#*# model_offset = 0.00000
