
[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|default(printer["gcode_macro _AFC_GLOBAL_VARS"].extruder_temp)|float %}
    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            SET_TEMP HEATER="extruder" TEMP={printer.extruder.target|float} WAIT=1
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            SET_TEMP HEATER="extruder" TEMP={T} WAIT=1
        {% endif %}
    {% endif %}
    
# Eject Loaded Lane
[gcode_macro BT_TOOL_UNLOAD]
description: Unload the currently loaded lane
gcode:
  _LOW_TEMP_CHECK
  TOOL_UNLOAD

[gcode_macro BT_CHANGE_TOOL]
description: Switch to a new lane by ejecting the previously loaded one
gcode:
  {% set lane_num = params.LANE|default(1)|int %}
  {% set stepper = printer['gcode_macro _AFC_GLOBAL_VARS'].stepper_name|string %}

  _LOW_TEMP_CHECK
  CHANGE_TOOL LANE={stepper ~ lane_num}

[gcode_macro BT_LANE_EJECT]
description: Fully eject the filament from the lane
gcode:
  {% set lane_num = params.LANE|default(1)|int %}
  {% set stepper = printer['gcode_macro _AFC_GLOBAL_VARS'].stepper_name|string %}
  
  _LOW_TEMP_CHECK
  LANE_UNLOAD LANE={stepper ~ lane_num}

[gcode_macro BT_LANE_MOVE]
description: Move the specified lane the specified amount
gcode:
  {% set lane_num = params.LANE|default(1)|int %}
  {% set dist = params.DISTANCE|default(20)|float %}
  {% set stepper = printer['gcode_macro _AFC_GLOBAL_VARS'].stepper_name|string %}
  
  _LOW_TEMP_CHECK
  LANE_MOVE LANE={stepper ~ lane_num} DISTANCE={dist}

[gcode_macro BT_RESUME]
description: Resume the print after an error
gcode:
    {% if not printer.pause_resume.is_paused %}
        RESPOND MSG="Print is not paused. Resume ignored"
    {% else %}
        AFC_RESUME
    {% endif %}
  
[gcode_macro BT_PREP]
gcode:
  PREP

[gcode_macro BT_RESUME]
description: Resume the print after an error
gcode:
    {% if not printer.pause_resume.is_paused %}
        RESPOND MSG="Print is not paused. Resume ignored"
    {% else %}
        AFC_RESUME
    {% endif %}

