###############################
###### 	Accessories.cfg  ######
###############################

#Hour Counter
[output_pin hourCounter]
pin: PB3
pwm:false
shutdown_value: 0 
value:0


[output_pin bypass]
pin: nhk:gpio12


## toolhead leds
[neopixel chamber]
pin: PF10
chain_count: 30
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
color_order: GRB