##################
#### ADXL.CFG ####
##################


#####################################################################
#   Accelerometer
#####################################################################
[adxl345] #nh36
cs_pin: nhk:CS
spi_software_sclk_pin: nhk:SCLK
spi_software_mosi_pin: nhk:MOSI
spi_software_miso_pin: nhk:MISO

[resonance_tester]
#accel_chip: beacon
accel_chip: adxl345
accel_per_hz: 150
probe_points:
     175,175,20
max_freq: 150



[adxl345_probe]
probe_pin: nhk:AINT1
int_pin: int1 # select either int1 or int2, depending on your choice of wiring
tap_thresh: 12050 # this needs to be tuned
tap_dur: 0.01 # this needs to be tuned
speed: 20 # this needs to be tuned
z_offset: 0
# Adjust this to your liking
samples: 3
sample_retract_dist: 3.0
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 20