[include ./klicky-variables.cfg]				#Requires
[include ./klicky-macros.cfg]					#Required
#[include ./klicky-bed-mesh-calibrate.cfg]		#bed mesh, requires klipper configuration
[include ./klicky-quad-gantry-level.cfg]		#level 4 Z motors

#####################################################################
#   Probe
#####################################################################
