
[board_pins ebb36]
mcu: NightOwl5kg
aliases:
    LEG7_EN=PD2,
    LEG7_STEP=PD0,
    LEG7_DIR=PD1,
    LEG7_UART=PA15,
    5K_HUB=PB6,
    LEG7_TRIG=PB3,
    LEG7_EXT=PB8,
  
[mcu NightOwl5kg]
canbus_uuid: cf83c947a41c



[temperature_sensor NightOwl-EBB]
sensor_type: temperature_mcu
sensor_mcu: NightOwl5kg

[AFC_stepper leg7]
unit: 5k:1
extruder: extruder
step_pin: NightOwl5kg:LEG7_STEP
dir_pin: NightOwl5kg:LEG7_DIR
enable_pin: !NightOwl5kg:LEG7_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 45
park_dist: 10
load: ^NightOwl5kg:LEG7_TRIG
prep: ^NightOwl5kg:LEG7_EXT
cmd: T6

[tmc2209 AFC_stepper leg7]
uart_pin: NightOwl5kg:LEG7_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110



[AFC_hub 5k]
type: Night_Owl
afc_bowden_length: 1765         # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                # Distance to move the filament within the hub in mm.
cut: False # Hub has Cutter
#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
cut_cmd: AFC #CMD to use
cut_dist: 200               # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).
switch_pin: ^NightOwl5kg:5K_HUB
